body {
    background-image: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 100vh;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
}

.input {
    height: 25px;
    width: 400px;
	padding: 8px 20px 5px 30px;
    display: block;
    background-color: #e6e6e6;
    text-align: center;
    border-radius: 10px;
    border : solid;
    font-size: 15px;
    /* border: none; */
}

p {
    background-color: white;
    font-size: larger;
    text-align: center;
}

#link {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    border: solid;
    border-radius: 5px;
    border-color:rgb(0, 0, 0);
    padding: 3px 3px 3px 3px;
    text-decoration: none;
}

#link:hover {

}

#creat {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    color: black;
    border: solid;
    border-radius: 5px;
    border-color:rgb(0, 0, 0);
    padding: 4px 4px 4px 4px;
}
