* {

	font-family: 'Poppins', sans-serif;
}

body {
	background-image: url("../img/back.jpg");
	background-position: center;
	background-size: cover;
	margin :0;
	height: 100vh;
}

.container {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	padding: 50px 50px 50px 50px;
	border-radius: 10px;
}

.input {
	border: solid;
	padding: 8px 20px 5px 30px;
	background-color:#e6e6e6;
	font-size: 15px;
	width: 400px;
	display: block;
	height: 25px;
	border-radius: 8px;	
}

.input::placeholder {
	text-align: center;	
}
.input:focus-visible{
	border: transparent;
}
.submit {
	background : black;
	color : white;
	padding: 8px 20px 8px 30px;
	width: 450px;
	height: 40px;
	border: none;
	border-radius: 8px;
	margin: 0 auto;
}

.submit:hover{
	transition: 1s;
	box-shadow: inset 450px 0 0 0 #fb04b5;
	/* background-color: transparent; */
}

#header {
	/* text-align: center; */

	width: 100%;
	display: block;
	font-family: 'Montserrat', sans-serif;
	/* font-size: 50px; */
	color: #555;
	text-align: center;
}

.remember {
	padding-top: 20px;
	text-align: center;
}

#sign{
	color :black;
}
.signUp#sign:hover {
	color:#fb04b5
}
