* {

	font-family: 'Poppins', sans-serif;
}

body {
	background-image: url("../img/dark-abstract.jpg");
	background-position: center;
	background-size: cover;
	margin :0;
	height: 100vh;
}

.container {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: black;
	padding: 50px 150px 50px 150px;
	border-radius: 10px;
}

.input {
	border: solid;
	padding: 16px 40px 10px 60px;
	background-color: #333232;
	font-size: 15px;
	width: 400px;
	display: block;
	height: 25px;
	border-radius: 5px;	
}

.input::placeholder {
	text-align: center;
	font-size: 17px;
	color: rgb(255, 255, 255);
}
.input:focus-visible{
	border: transparent;
}
.submit {
	font-size: 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background : #d71717;
	/* background-color: #333232; */
	color : white;
	padding: 16px 40px 40px 60px;
	width: 500px;
	height: 50px;
	border: none;
	border-radius: 2px;
	margin: 0 auto;
}

.submit:hover{
	transition: 1s;
	/* box-shadow: inset 450px 0 0 0 #333232; */
	transform: scale(1.05); 
	color: black;
	/* background-color: transparent; */
}

#header {
	/* text-align: center; */

	width: 100%;
	display: block;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 50px;
	color: white;
	text-align: center;
}

.remember {
	padding-top: 20px;
	text-align: center;
	color: #a49f9f;
}

#sign{
	color :rgb(255, 255, 255);
}
.signUp#sign:hover {
	color:#d71717
}

hr {
	display: block;
	margin-top: 2em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}
/* 555 */

.google-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

.google-signin-button {
	display: inline-block;
	background-color: #1d1818;
	color: #737373;
	border: 1px solid #584a4a;
	border-radius: 4px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 16px;
	text-decoration: none;
	cursor: pointer;
}

.google-logo {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: middle;
}

.google-text {
	vertical-align: middle;
}
